In [3]:
print("Hello, World. I'm learning how to use Juypter Notebooks!")

Hello, World. I'm learning how to use Juypter Notebooks!

In [4]:
a = 5

In [5]:
a = 6

In [6]:
a

6

In [7]:
1 + 1

2

## Heart Disease Project

This project is about determining whether or not a patient has heart disease.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("heart-disease.csv")

## Show the first 5 rows of your dataframe w/ df.head()

In [12]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

## df.head(x) = number of rows to display